html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  max-width: 100%;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.page-loader p {
  font-size: 2rem;
  color: white;
  margin-top: 2rem;
}
.page-loader .loader-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-loaded {
  display: none;
}

#slider-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#slider-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  animation: breathing 5.4s infinite;
}
@keyframes breathing {
  0%, 100% {
    background-color: transparent;
  }
  40%, 60% {
    background-color: #272828;
  }
}
#slider-section .slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}
#slider-section .button {
  font-size: 16px;
  background-color: transparent;
  color: #FFFFFF;
  padding: 14px 28px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  text-decoration: none;
  transition: border-color 0.3s ease;
  margin-top: 2.4rem;
  cursor: pointer;
}
#slider-section .button:hover {
  border-color: #FFA500;
}
#slider-section .button::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #FFFFFF transparent transparent transparent;
  margin-left: 5px;
  vertical-align: middle;
}
#slider-section .slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#slider-section .slider-content .hello-text {
  margin-bottom: 1rem;
}
#slider-section .slider-content h1 {
  font-size: 6rem;
  color: #ffffff;
  font-family: "poppins-medium", sans-serif;
  line-height: 1.2;
  max-width: 900px;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fade-in 0.5s ease forwards;
}
#slider-section .slider-content p {
  font-family: "lora-regular", serif;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin-top: 0;
  margin-bottom: 3rem;
  animation: fade-in 0.5s ease forwards;
}
#slider-section .slider-content .button {
  margin-top: 1.2rem;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#slider-section .contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
#slider-section .contact-icons .contact-icon {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
#slider-section .contact-icons .contact-icon a:visited {
  text-decoration: none;
  color: white;
}
#slider-section .contact-icons .contact-icon a:focus {
  text-decoration: none;
  color: yellow;
}
#slider-section .contact-icons .contact-icon i {
  margin-right: 0.5rem;
  color: #ffffff;
  font-size: 1.6rem;
  transition: color 0.3s ease;
}
#slider-section .contact-icons .contact-icon span {
  font-size: 1.2rem;
  color: #ffffff;
  transition: color 0.3s ease;
}
#slider-section .contact-icons .contact-icon::before {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 8px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
}
#slider-section .contact-icons .contact-icon:last-child::after {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 8px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
}
#slider-section .contact-icons .contact-icon:hover i, #slider-section .contact-icons .contact-icon:active i {
  color: rgb(255, 203, 63);
  cursor: pointer;
}
#slider-section .contact-icons .contact-icon:hover span, #slider-section .contact-icons .contact-icon:active span {
  color: rgb(255, 203, 63);
  cursor: pointer;
}
#slider-section .contact-icons .contact-icon:hover a, #slider-section .contact-icons .contact-icon:active a {
  color: rgb(255, 203, 63);
  cursor: pointer;
}
@media (max-width: 870px) {
  #slider-section .contact-icons {
    flex-direction: column;
    align-items: center;
  }
  #slider-section .contact-icons .contact-icon {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

#cv-section.cv-section-visible {
  opacity: 1;
  transform: translateX(0%);
}
#cv-section .cv-section {
  height: 100vh;
}
#cv-section .cv-content {
  max-width: 55rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 870px) {
  #cv-section .cv-content .about-me-icon {
    max-width: 5rem;
    opacity: 0;
  }
  #cv-section .cv-content .about-me-text h2::after {
    width: 100%;
  }
}
#cv-section .about-me {
  display: flex;
  align-items: center;
}
#cv-section .about-me-icon {
  margin-right: 2rem;
}
#cv-section .about-me-icon img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  transition: border-radius 0.3s ease;
}
#cv-section .about-me-icon img:hover {
  border-radius: 30%;
}
#cv-section .about-me-text {
  max-width: 70%;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
#cv-section .about-me-text .epitech-link {
  font-weight: bold;
  position: relative;
  color: #FFA500;
  text-decoration: none;
  transition: color 0.3s ease;
}
#cv-section .about-me-text .epitech-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFA500;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
#cv-section .about-me-text .epitech-link:hover::before {
  transform: scaleX(1);
}
#cv-section .about-me-text .epitech-link:visited {
  color: #FFA500;
}
#cv-section .about-me-text .epitech-link:focus {
  color: #FFA500;
}
#cv-section .about-me-text h2 {
  text-transform: uppercase;
  font: "-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif";
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
#cv-section .about-me-text h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 40rem;
  height: 2px;
  background-color: rgba(94, 94, 94, 0.3);
  transition: width 0.3s ease;
}
#cv-section .about-me-text h2::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 5rem;
  height: 6px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease;
}
#cv-section .about-me-text h2:hover {
  transform: scale(1.1);
}
#cv-section .about-me-text h2:hover::after {
  width: 100%;
}
#cv-section .about-me-text .cv-download-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.4rem;
  margin-left: 30%;
  background-color: #FFA500;
  border: 3px solid #FFA500;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
#cv-section .about-me-text .cv-download-button:hover {
  background-color: white;
  color: black;
}
@media (max-width: 870px) {
  #cv-section .about-me-text .cv-download-button {
    margin-left: 20%;
  }
}
#cv-section .about-me-text h2:hover::before {
  width: 100%;
}
#cv-section .about-me-text p {
  font: "-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif";
  font-size: 1.6rem;
  line-height: 2.4rem;
}

#education-section {
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  padding: 3rem 0;
  align-items: center;
  text-align: center;
}
#education-section .section-heading {
  text-align: center;
  margin-bottom: 2rem;
}
#education-section .section-heading h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
#education-section .section-heading h2::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 5rem;
  height: 6px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease-in-out;
}
#education-section .section-heading h2:hover::before {
  width: 100%;
}
#education-section .section-heading h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 5rem;
  width: calc(100% - 5rem);
  height: 2px;
  background-color: rgba(94, 94, 94, 0.3);
}
#education-section .section-heading h2:hover {
  transform: scale(1.1);
}
#education-section .timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#education-section .timeline .timeline-item {
  width: calc(50% - 1rem);
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
}
#education-section .timeline .timeline-item:last-child {
  margin-bottom: 0;
}
#education-section .timeline .timeline-item .timeline-content {
  cursor: pointer;
  position: relative;
  background-color: #f3f3f3;
  padding: 1rem;
  border-radius: 5px;
  max-width: 25rem;
  transition: all 0.3s ease;
  cursor: grab;
}
#education-section .timeline .timeline-item .timeline-content .flag {
  font-weight: bold;
  color: rgb(0, 0, 0);
}
#education-section .timeline .timeline-item .timeline-content .time {
  font-weight: bold;
  color: #222222;
  margin-top: 0.5rem;
}
#education-section .timeline .timeline-item .timeline-content .desc {
  text-align: left;
  clear: left;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  color: #757575;
}
#education-section .timeline .timeline-item .timeline-content .location {
  margin-top: 0.5rem;
  color: #333333;
}
#education-section .timeline .timeline-item .timeline-content .orange {
  font-weight: bold;
  text-decoration: underline;
  color: #3F51B5;
  font-weight: 800;
  margin-top: 0.5rem;
}
#education-section .timeline .timeline-item .timeline-content:hover {
  transform: scale(1.2);
  background-color: #ccc;
}
#education-section .timeline .timeline-item .timeline-content.is-dragging {
  user-select: none;
}
@media (max-width: 870px) {
  #education-section .timeline .timeline-item {
    width: 100%;
  }
}

#skills-section {
  background-color: white;
  border-top: 1px solid #ccc;
  padding: 3rem 0;
}
#skills-section .section-heading {
  text-align: center;
  margin-bottom: 2rem;
}
#skills-section .section-heading h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
#skills-section .section-heading h2::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 5rem;
  height: 6px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease-in-out;
}
#skills-section .section-heading h2:hover::before {
  width: 100%;
}
#skills-section .section-heading h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 5rem;
  width: calc(100% - 5rem);
  height: 2px;
  background-color: rgba(94, 94, 94, 0.3);
}
#skills-section .section-heading h2:hover {
  transform: scale(1.1);
}
#skills-section .skills-content {
  position: relative;
}
#skills-section .skills-content .slider-container {
  overflow: hidden;
  margin-bottom: 1rem;
}
#skills-section .skills-content .slider-container .slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  white-space: nowrap;
}
#skills-section .skills-content .slider-container .slider .skills-item {
  min-width: 150px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
#skills-section .skills-content .slider-container .slider .skills-item:hover {
  transform: scale(0.9);
}
#skills-section .skills-content .slider-container .slider .skills-item a {
  text-decoration: none;
  text-transform: unset;
  color: black;
}
#skills-section .skills-content .slider-container .slider .skills-item i {
  font-size: 3rem;
}
#skills-section .skills-content .slider-container .slider .skills-item span {
  font-size: 1.2rem;
  margin-top: 1rem;
}
#skills-section .skills-content .slider-controls {
  display: flex;
  justify-content: center;
}
#skills-section .skills-content .slider-controls .slider-arrow {
  background: none;
  border: none;
  font-size: 2rem;
  color: #555555;
  padding: 0;
  cursor: pointer;
}
#skills-section .skills-content .slider-controls .slider-arrow:focus {
  outline: none;
}
#skills-section .skills-content .slider-controls .prev-arrow {
  margin-right: 1rem;
}
#skills-section .skills-content::-webkit-scrollbar {
  height: 8px;
}
#skills-section .skills-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
#skills-section .skills-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

#languages-section {
  background-color: white;
  border-top: 1px solid #ccc;
  padding: 3rem 0;
}
#languages-section .section-heading {
  text-align: center;
  margin-bottom: 2rem;
}
#languages-section .section-heading h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
#languages-section .section-heading h2::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 5rem;
  height: 6px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease-in-out;
}
#languages-section .section-heading h2:hover::before {
  width: 100%;
}
#languages-section .section-heading h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 5rem;
  width: calc(100% - 5rem);
  height: 2px;
  background-color: rgba(94, 94, 94, 0.3);
}
#languages-section .section-heading h2:hover {
  transform: scale(1.1);
}
#languages-section .languages-content {
  position: relative;
}
#languages-section .languages-content .slider-container {
  overflow: hidden;
  margin-bottom: 1rem;
}
#languages-section .languages-content .slider-container .slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}
#languages-section .languages-content .slider-container .slider .language-item {
  min-width: 150px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#languages-section .languages-content .slider-container .slider .language-item img {
  max-width: 10rem;
  font-size: 3rem;
  transition: transform 0.3s ease-in-out;
}
#languages-section .languages-content .slider-container .slider .language-item img:hover {
  transform: scale(0.9);
}
#languages-section .languages-content .slider-container .slider .language-item span {
  font-size: 1.2rem;
  margin-top: 1rem;
}
#languages-section .languages-content::-webkit-scrollbar {
  height: 8px;
}
#languages-section .languages-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
#languages-section .languages-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
@media (max-width: 870px) {
  #languages-section .languages-content .slider-container {
    overflow-x: auto;
  }
  #languages-section .languages-content .slider {
    flex-wrap: wrap;
  }
  #languages-section .languages-content .language-item {
    min-width: auto;
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
  #languages-section .languages-content .language-item img {
    max-width: 5rem;
  }
}

#projects-section {
  background-color: rgba(250, 250, 250, 0.9803921569);
  backdrop-filter: blur(10px);
  border-top: 1px solid #ccc;
  padding-bottom: 15rem;
  text-align: center;
}
#projects-section .section-heading h2 {
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
#projects-section .section-heading h2::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 5rem;
  height: 6px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease-in-out;
}
#projects-section .section-heading h2:hover::before {
  width: 100%;
}
#projects-section .section-heading h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 5rem;
  width: calc(100% - 5rem);
  height: 2px;
  background-color: rgba(94, 94, 94, 0.3);
}
#projects-section .section-heading h2:hover {
  transform: scale(1.1);
}
#projects-section .projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
#projects-section .projects-grid .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 35rem;
  padding-top: 10rem;
}
#projects-section .projects-grid .project a {
  display: block;
}
#projects-section .projects-grid .project a img {
  width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
#projects-section .projects-grid .project a img:hover {
  transform: scale(1.05);
}
#projects-section .projects-grid .project h3 {
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}
#projects-section .projects-grid .project .project-languages {
  margin-top: 10px;
}
#projects-section .projects-grid .project .language {
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: default;
}
#projects-section .projects-grid .project .language:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
#projects-section .projects-grid .project p {
  margin-top: 10px;
  max-width: 500px;
  color: #777;
}
#projects-section .projects-grid .project .project-link {
  position: relative;
  display: block;
  overflow: hidden;
}
#projects-section .projects-grid .project .project-image {
  width: 100%;
  height: auto;
  max-height: 25rem;
  border-radius: 5px;
  border: 1px solid black;
  transition: opacity 0.3s ease;
}
#projects-section .projects-grid .project .project-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  max-height: 25rem;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#projects-section .projects-grid .project .project-container {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  border-bottom: 1px solid black;
  border-right: 3px solid black;
  display: flex;
  justify-content: center;
}
#projects-section .projects-grid .project .project-container:hover .project-image {
  opacity: 0;
}
#projects-section .projects-grid .project .project-container:hover .project-video {
  opacity: 1;
}
@media (max-width: 870px) {
  #projects-section .projects-grid {
    grid-template-columns: 1fr;
  }
}

#contact-section {
  background-color: #f8f8f8;
  padding: 3rem 0;
  border-top: 1px solid #ccc;
}
#contact-section .section-heading {
  text-align: center;
  margin-bottom: 2rem;
}
#contact-section .section-heading h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
#contact-section .section-heading h2::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease-in-out;
}
#contact-section .section-heading h2:hover::before {
  width: 100%;
}
#contact-section .section-heading h2:hover {
  transform: scale(1.1);
}
#contact-section .container {
  max-width: 960px;
  margin: 0 auto;
}
#contact-section .container .flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-section .container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
#contact-section .container .content .contact-left .contact-list {
  padding-left: 50px;
  margin-bottom: 20px;
}
#contact-section .container .content .contact-left .contact-list div {
  margin-bottom: 10px;
}
#contact-section .container .content .contact-left .contact-list div .item-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}
#contact-section .container .content .contact-left .contact-list div .item-title i {
  margin-right: 5px;
}
#contact-section .container .content .contact-left .contact-list div span {
  color: #777;
}
#contact-section .container .content .contact-right .contact-form {
  width: 400px;
}
#contact-section .container .content .contact-right .contact-form .form-row {
  display: flex;
}
#contact-section .container .content .contact-right .contact-form .form-row input[type=text],
#contact-section .container .content .contact-right .contact-form .form-row input[type=email] {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease-in-out;
}
#contact-section .container .content .contact-right .contact-form .form-row input[type=text]:focus,
#contact-section .container .content .contact-right .contact-form .form-row input[type=email]:focus {
  outline: none;
  border-color: #333;
}
#contact-section .container .content .contact-right .contact-form input[type=text] {
  width: 100%;
  margin-bottom: 10px;
}
#contact-section .container .content .contact-right .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease-in-out;
}
#contact-section .container .content .contact-right .contact-form textarea:focus {
  outline: none;
  border-color: #333;
}
#contact-section .container .content .contact-right .contact-form .btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#contact-section .container .content .contact-right .contact-form .btn i {
  margin-left: 5px;
}
#contact-section .container .content .contact-right .contact-form .btn:hover {
  background-color: #222;
}
@media (max-width: 870px) {
  #contact-section {
    padding: 0px;
  }
  #contact-section .contact-form {
    max-width: 300px;
  }
  #contact-section .content {
    flex-direction: column;
  }
  #contact-section .content .btn {
    margin-left: 30%;
    margin-bottom: 29px;
  }
  #contact-section .content .contact-left,
  #contact-section .content .contact-right {
    width: 100%;
  }
  #contact-section .content .contact-left {
    margin-bottom: 1.5rem;
  }
  #contact-section .content .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #contact-section .content .contact-right {
    align-self: center;
    margin: 0 auto;
    max-width: 400px;
  }
  #contact-section .content .contact-right textarea {
    width: 80%;
  }
  #contact-section .content .contact-right input {
    width: 80%;
  }
}

.animation-section {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s, transform 0.5s;
}
.animation-section.animation-section-visible {
  opacity: 1;
  transform: translateX(0%);
}
.animation-section.animation-right {
  transform: translateX(0%);
}
.animation-section.animation-right.animation-section-visible {
  transform: translateX(0%);
}
.animation-section.animation-up {
  transform: translateY(-100%);
}
.animation-section.animation-up.animation-section-visible {
  transform: translateY(0%);
}
.animation-section.animation-down {
  transform: translateY(100%);
}
.animation-section.animation-down.animation-section-visible {
  transform: translateY(0%);
}

.line-divider {
  position: relative;
  height: 1px;
  background-color: rgba(94, 94, 94, 0.3);
  margin: 2rem 0;
}
.line-divider:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 5rem;
  height: 6px;
  background-color: rgb(0, 0, 0);
}
.line-divider:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 5rem;
  width: calc(100% - 5rem);
  height: 2px;
  background-color: rgba(94, 94, 94, 0.3);
}

/*# sourceMappingURL=styles.css.map */
